/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
section{
flex-direction: column;
align-items: center;
}

.text-content {
    order: -1;
} */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  background-color: #253759;
  text-align: center;
}

header .landing-page-logo {
  margin: 0 auto;
  width: 60%;
  position: relative;
  left: 75px;
  z-index: 10;
  top: 20px;
}

@media (max-width: 500px) {
  header .landing-page-logo {
    display: none;
  }
}

header nav {
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 500px) {
  header nav {
    font-size: 12px;
  }
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media only screen and (max-width: 500px) {
  header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header nav ul a li {
  color: #ebedf2;
  font-family: "Racing Sans One", serif;
  font-size: 1.6em;
  font-weight: 900;
  padding: 15px;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  header {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    text-align: center;
  }
}

@media (max-width: 500px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header nav {
    padding: 0;
  }
  header nav ul {
    max-width: 400px;
  }
}

.main-container {
  max-width: 1200px;
  margin: 20px auto;
  position: relative;
}

@media (max-width: 1024px) {
  .main-container {
    max-width: 100%;
  }
}

.main-container .banner-area {
  width: 1180px;
  height: 250px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url(../img/banner.jpg) no-repeat left center;
  background-size: 1200px 350px;
  max-width: 1200px;
}

@media (max-width: 1024px) {
  .main-container .banner-area {
    max-width: 100%;
    background-size: 100;
  }
}

.main-container .banner-area h1 {
  width: 100%;
  padding: 20px 0;
  font-family: "Racing Sans One", serif;
  color: #ebedf2;
  font-size: 3.5rem;
}

@media only screen and (max-width: 500px) {
  .main-container .banner-area h1 {
    display: inline;
    padding: 20px 0 0 0px;
  }
}

.main-container .banner-area .app-download {
  width: 545px;
  background: #253759;
  height: 100px;
  position: relative;
  top: 40px;
  text-align: center;
}

@media (max-width: 500px) {
  .main-container .banner-area .app-download {
    background: transparent;
  }
}

.main-container .banner-area .app-download a {
  color: #ebedf2;
  text-decoration: none;
  font-weight: 900;
}

.main-container .banner-area .app-download .cta-app-text {
  font-weight: 900;
  font-size: 1.2rem;
  color: #ebedf2;
  margin-top: 40px;
}

.main-container .banner-area .app-download .iphone {
  position: absolute;
  right: 300px;
  top: -20px;
}

@media (max-width: 500px) {
  .main-container .banner-area .app-download .iphone {
    right: 10px;
    width: 100px;
    top: 82px;
  }
}

.main-container .banner-area .man-phone {
  position: relative;
  right: 300px;
  bottom: 20px;
}

.team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.team-container .member {
  width: 240px;
  color: #ebedf2;
}

.team-container .member h3,
.team-container .member p,
.team-container .member img {
  margin: 10px 20px;
}

.team-container .member h3 {
  font-family: "Racing Sans One", serif;
  color: #ebedf2;
  font-size: 1rem;
}

@media (max-width: 500px) {
  .team-container .team-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .team-container .member {
    width: 100%;
    color: #ebedf2;
    text-align: center;
  }
  .team-container .member img {
    width: 92%;
    margin: 10px 0;
  }
}

.rental-land-lookup {
  max-width: 1200px;
  height: 235px;
  background: url("../img/rv-beach.jpg") right center #253759;
  position: relative;
}

.rental-land-lookup .search-instructions {
  width: 450px;
  color: #ebedf2;
  position: absolute;
  right: 200px;
  top: 20px;
}

.rental-land-lookup .search-instructions h1 {
  font-family: "Racing Sans One", serif;
  color: #ebedf2;
  font-size: 3.5rem;
}

.rental-land-lookup .rv-search-form {
  width: 500px;
  height: 270px;
  position: absolute;
  top: -100px;
  left: 10px;
  z-index: 10;
}

section .upsell-packages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

section .tours-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1200px;
  padding: 50px 0;
  background: #707329;
  text-align: center;
}

section .tours-grid .tour-box {
  margin-top: 20px;
  padding: 20px;
  color: #ebedf2;
}

section .tours-grid .tour-box .section-title {
  display: block;
  font-family: "Racing Sans One", serif;
  color: #ebedf2;
  font-size: 3.5rem;
}

section .tours-grid .boxes {
  width: 180px;
  height: 280px;
  background-color: #334018;
  padding: 20px;
  margin: 20px;
}

.rv-rental-area {
  margin: 0 auto;
  text-align: center;
}

footer {
  color: #ebedf2;
  font-family: "Racing Sans One", serif;
  background: #253759;
  padding: 20px 0;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer nav ul a li {
  color: #ebedf2;
}

button a {
  color: #d9c382;
  font-family: "Faster One", serif;
}

@media (max-width: 500px) {
  button a {
    color: #d9c382;
  }
}

.form-style-5 {
  max-width: 500px;
  padding: 10px 20px;
  margin: 10px auto;
  padding: 20px;
  background: #ebedf2;
  border-radius: 8px;
}

.form-style-5 fieldset {
  border: none;
}

.form-style-5 legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.form-style-5 label {
  display: block;
  margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
  background: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #334018;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
  background: #ebedf2;
}

.form-style-5 select {
  -webkit-appearance: menulist-button;
  height: 35px;
}

.form-style-5 .number {
  background: #1abc9c;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
button {
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  background: #253759;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  max-width: 460px;
  width: 100%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}

.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover {
  background: #334018;
}

html.lp {
  overflow: hidden;
}

@media (max-width: 1024px) {
  html.lp {
    overflow: visible;
    overflow-x: hidden;
  }
}

body {
  margin: 0;
  height: 100vh;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background: #253759;
  background: #253759 url("../img/bg-trees.jpg") bottom center no-repeat fixed;
}

.lp-header {
  height: 150px;
}

.lp-header a.landing-page-logo {
  margin: 0 auto;
  width: 60%;
  position: relative;
  left: 75px;
  z-index: 10;
  top: 20px;
}

@media (max-width: 1024px) {
  .lp-header a.landing-page-logo {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}

@media (max-width: 500px) {
  .lp-header a.landing-page-logo {
    margin: 0 auto;
    width: 33%;
    position: relative;
    left: 0px;
    z-index: 10;
    top: 48px;
  }
}

.lp-header nav.lp-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lp-container {
  position: relative;
}

@media (max-width: 1024px) {
  .lp-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen {
  .lp-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lp-container header.lp-header .landing-page-logo {
    margin: 0 auto;
    width: 60%;
    position: relative;
    left: 75px;
    z-index: 10;
    top: 20px;
  }
  .lp-container .find-space-container {
    width: 50%;
    background: url("../img/lp-family.jpg") no-repeat bottom center local;
    background-size: cover;
    height: 100vh;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    /* IE 6-9 */
  }
}

@media screen and (max-width: 1024px) {
  .lp-container .find-space-container {
    overflow: visible;
    width: 100%;
  }
}

@media screen {
  .lp-container .find-space-container .cta-fspace-box {
    margin: 0 auto;
    max-width: 20vw;
    margin-top: 10%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: #253759;
    -webkit-box-shadow: 1px 15px 32px -13px #253759;
    box-shadow: 1px 15px 32px -13px #253759;
    background: -webkit-gradient(linear, left top, left bottom, from(#334018), to(#707329));
    background: linear-gradient(#334018, #707329);
  }
}

@media screen and (max-width: 1024px) {
  .lp-container .find-space-container .cta-fspace-box {
    overflow: visible;
    max-width: 50vw;
  }
}

@media screen {
  .lp-container .find-space-container .cta-fspace-box .lp-fspace-h1 {
    font-family: "Racing Sans One", serif;
    color: #ebedf2;
    font-size: 2rem;
  }
  .lp-container .find-space-container .cta-fspace-box .lp-fspace-paragraph {
    margin: 10px 0 0 0;
    color: #ebedf2;
    line-height: 1.5rem;
  }
  .lp-container .find-space-container .cta-fspace-box button {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    margin: 25px 0;
    font-size: 1.6rem;
    font-family: "Faster One", serif;
  }
  .lp-container .find-space-container .cta-fspace-box button :hover {
    cursor: pointer;
    background: #334018;
  }
  .lp-container .rent-land-container {
    width: 50%;
    background: #253759 url("../img/lp-land.jpg") no-repeat bottom center fixed;
    background-size: cover;
    height: 100vh;
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    /* Firefox 10+, Firefox on Android */
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-filter: gray;
            filter: gray;
    /* IE 6-9 */
  }
}

@media screen and (max-width: 1024px) {
  .lp-container .rent-land-container {
    overflow: visible;
    width: 100%;
  }
}

@media screen {
  .lp-container .rent-land-container .cta-rland-box {
    margin: 0 auto;
    max-width: 20vw;
    margin-top: 10%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: #253759;
    -webkit-box-shadow: 1px 15px 32px -13px #253759;
    box-shadow: 1px 15px 32px -13px #253759;
    background: -webkit-gradient(linear, left top, left bottom, from(#253759), to(#ebedf2));
    background: linear-gradient(#253759, #ebedf2);
  }
}

@media screen and (max-width: 1024px) {
  .lp-container .rent-land-container .cta-rland-box {
    overflow: visible;
    max-width: 50vw;
  }
}

@media screen {
  .lp-container .rent-land-container .cta-rland-box .lp-rland-h1 {
    font-family: "Racing Sans One", serif;
    color: #ebedf2;
    font-size: 2rem;
  }
  .lp-container .rent-land-container .cta-rland-box .lp-rland-paragraph {
    margin: 10px 0 0 0;
    color: #ebedf2;
    line-height: 1.5rem;
  }
  .lp-container .rent-land-container .cta-rland-box button {
    width: 100%;
    padding: 20px;
    border-radius: 4px;
    margin: 25px 0;
    font-size: 1.6rem;
    font-family: "Faster One", serif;
  }
  .lp-container .rent-land-container .cta-rland-box button :hover {
    cursor: pointer;
    background: #334018;
  }
  .lp-container .find-space-container:hover,
  .lp-container .rent-land-container:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }
}

.lp-container .app-container {
  position: absolute;
  width: 900px;
  bottom: 0;
  left: 35%;
}

.lp-container .app-container .cta-heading {
  font-family: "Racing Sans One", serif;
  text-shadow: 2px 1px #253759;
  padding: 20px;
  color: #ebedf2;
  font-size: 1.5rem;
  background: #d9c382;
  width: 20vw;
  position: absolute;
  top: -500px;
  z-index: 1;
  border-radius: 10px;
  text-align: left;
}

@media (max-width: 1024px) {
  .lp-container .app-container .cta-heading {
    position: absolute;
    top: -115px;
    z-index: 3;
    border-radius: 10px;
    text-align: center;
  }
}

.lp-container .app-container .cta-heading a {
  color: #ebedf2;
  text-decoration: none;
}

.lp-container .app-container .cta-man-with-phone {
  position: absolute;
  bottom: -50px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .lp-container .app-container .cta-man-with-phone {
    z-index: 2;
    bottom: -100px;
    border-radius: 10px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .lp-container .app-container .cta-man-with-phone {
    left: -228px;
  }
}
/*# sourceMappingURL=main.css.map */